<footer>
    <div class="foot-mid">
        <div class="links">
            <h2>友情链接</h2>
            <ul>
                <li><a href="">黄利伟的个人博客</a></li>
                <li><a href="">伍达明的个人博客</a></li>
                <li><a href="">邱广新的个人博客</a></li>
                <li><a href="">毛伟业的个人博客</a></li>
            </ul>
        </div>
        <div class="thanks">
            <h2>特别鸣谢开发者联盟的技术支持</h2>
            <p>简介：开发者联盟是由一支基于篮球为兴趣爱好而组建起来的团队，始建于2015年，从一个由三人组成的斗牛小团队，组建发展为如今六人的技术开发联盟，我们为体育而生，却为走在技术潮流的前端，技术的创新成为了我们的精神食粮，主要成员有：黄利伟、邱广新、伍达明、马学灶、毛伟业，主要职能：保密！</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright 2017 Design by <a href="http://www.caoguanjie.com">Jason</a></p>
    </div>
</footer>

<!-- jQuery仿腾讯回顶部和建议 代码开始 -->
<div id="tbox">
    <a id="gotop" href="javascript:void(0)"></a>
</div>
<!-- 代码结束 -->

<!-- main of end -->

<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="__LIB__/layer/2.4/layer.js"></script>

<script type="text/javascript" src="__PUBLIC__/static/index/js/main.js"></script>
<script type="text/javascript">

</script>