<!-- header of start -->
<header>
    <nav id="nav">
        <ul>
            <li><a href="/public"  title="网站首页">网站首页</a></li>
            <li><a href="{{:url('admin/index/index')}}"  title="写博客">写博客</a></li>
            <li><a href="javascript:;"  title="项目经历" onclick="index_pro()">项目经历</a></li>
            <li><a href="javascript:;"  title="校园生活" onclick="index_life()">校园生活</a></li>
            <li><a href="javascript:;"  title="闲言碎语" onclick="index_talk()">闲言碎语</a></li>
            <li><a href="javascript:;"  title="派兵布阵" onclick="index_html()">派兵布阵</a></li>
            <li><a href="javascript:;"  title="个人简历" onclick="index_me()">个人简历</a></li>
        </ul>
    </nav>
</header>
<!-- header of end -->
