<div class="info">
    <!-- 标签规定独立的流内容（图像、图表、照片、代码等等） -->
    <!-- figure 元素的内容应该与主内容相关，但如果被删除，则不应对文档流产生影响。 -->
    <figure>
        <img src="__PUBLIC__/static/index/images/art.jpg" alt="">
        <!-- 请使用 <figcaption> 元素为 figure 添加标题（caption -->
        <figcaption>
            <strong>只要每天努力一点点，总有一天你会成为大神</strong>
            当我们被误解时，会花很多时间去辩白。 但没有用，没人愿意听，大家习惯按自己的所闻、理解做出判别，每个人其实都很固执。与其努力且痛苦的试图扭转别人的评判，不如默默承受，给大家多一点时间和空间去了解。而我们省下辩解的功夫，去实现自身更久远的人生价值。
        </figcaption>
    </figure>
    <div class="IDcard">
        <h1>我的名片</h1>
        <p>网名：靈吾靈 | Jason</p>
        <p>职业：Web前端工程师、APP开发</p>
        <p>电话：13570314212</p>
        <p>Email:374348532@qq.com</p>
        <div class="headimg"><img src="__PUBLIC__/static/index/images/headimg.jpeg" alt=""></div>
        <ul class="linkmore">
            <li><a href="#" class="talk" title="给我留言"></a></li>
            <li><a href="#" class="adress" title="联系地址"></a></li>
            <li><a href="#" class="email" title="给我写信"></a></li>
            <li><a href="#" class="photo" title="生活照片"></a></li>
            <li><a href="#" class="heart" title="关注我"></a></li>
        </ul>
    </div>
</div>
<!-- info of end -->
<div class="blank"></div>